<h1>Contact</h1>
<p>
  <div class= "address1">
  	FF-7
  </div>
   <div class= "address1">
  JBR Arcade</div>
  <div class= "address1">	Science City Road</div>
  	<div class= "address1">Ahmedabad.</div>
</p>